.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.navbar-logo {
  height: 40px;
  margin-left: 10px;
}

.embl-item {
  margin-right: 600px;
}

.embl-text {
  color: rgb(117, 170, 81);
  font-weight: bold;
  margin-left: 10px;
  font-size: larger;
  position: relative;
  top: -10px;
}

.App-header {
  background: linear-gradient(
    rgba(255, 255, 255, 0.75), 
    rgba(255, 255, 255, 0.75)
    ),
    url('../img/science.jpg');
  background-size:cover;
  height: 1080px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 5em;
  color: rgb(117, 170, 81);
}

.App-intro {
  font-size: large;
  padding-left: 30%;
  margin-top: 5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.navbar {
  box-shadow: 0 4px 2px -2px lightgray;
  margin-bottom: 5em;
}

li {
  float: left;
}

.date, .search-text, .submit {
  margin-right: 1em;
}

div.date div {
  width: 120px !important;
}

.error {
  margin-top: -5px;
  font-size: small;
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
